* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
hr {
    width: 90%;
    margin: 0 auto;
}


/* *******HEARDER STYLE******* */
.main-header {
    background-image: url('img/village\ main\ header.jpg');
    height: 230px;
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: center; 
    background-size: 100%;   
}

.logoL {
    float: left;
    padding: 20px;

}
.logoS {
    display: none;
    width: 250px;
}
.navigation {
    background-color: black;
}
.subHeader {
    position: sticky;
    top: 0;
    border-bottom: 3px solid red;     
}
.subHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 5px;       
}

.subHeader ul li a{    
    color: white;
    text-decoration: none;
    padding: 0 25px; 
    font-size: 1.2rem;
    font-family: 'Cinzel', serif;
}
.subHeader ul li a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    font-weight: bold;
}


/* *******CONTENT STYLE******* */

.body-container {
    background-image: url('img/background.jpg');
    display: grid;
    height: 100%;
    grid-template-columns: 30% 1fr;
    
}

.side-news {   
    background-color: rgb(18, 19, 18);
    margin: 60px 55px 60px 60px;
    border-radius: 15px;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 25px 0 rgba(255, 255, 255, 0.9);
}
.content {
    background-color: rgb(15, 16, 17);
    margin: 60px 60px 60px 55px;
    border-radius: 15px;
    height: calc(100% - 120px);
    box-shadow: 0 4px 25px 0 rgba(255, 255, 255, 0.9);
}

.news a img {
    height: 35%;
    width: 65%;
    border-radius: 20px;
}

.news a {
    color: lightcyan;
    text-decoration: none;
    display: flex;    
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding: 15px;    
}
.news a p {
    text-align: justify;
    padding: 15px 50px;
}
.news h1 {
    color: lightcyan;
    padding: 15px;
    font-family: 'Cinzel', serif;
}


/* *******FOOTER STYLE******* */

.footer-container {
    height: 120px;
    background-color: rgb(0, 0, 0); 
    border-top: 3px solid red;
}
.footer-container a {
    display: flex;
    justify-content: flex-end;
    padding-top: 80px;
    padding-right: 5%;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(204, 6, 6);
    font-weight: bold;
}
.footer-container a p:hover {
    color: rgba(255, 255, 255, 0.9);
}

/* *******RESPONSIVE******* */
@media (max-width: 780px) {
    .logoL {
        display: none;
    }
    .logoS {
        display: block;
                
    }
    .main-header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

@media (max-width: 1200px) {
    .side-news {
        margin: 60px 30px;
    }
    .content {
        margin: 60px 30px
    }
}

@media (max-width: 900px) {
    .body-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
